<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script  src="../Controllers/ConfigurationFiles.js"></script>
    <link rel="stylesheet" href="css/ConfigurationFiles.css">
    <link rel="stylesheet" href="../../public/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <style>
    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }
  </style>
</head>
<body onload="setUp();">
    <nav class="navbar navbar-expand-lg my-custom-navbar" data-bs-theme="dark" id="">
        <div class="container-fluid" id="navbar">
            <button onclick="getBAck()" class="btn custom-button" >
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
    </nav>
    <div class="container">
        <input type="hidden" id="projects">
        <input type="hidden" id="subject">
        <div class="tab-content">
          <p class="titulo">The next step is to manually start the containers:</p>
          <p>1. The order to start the containers is Taiga → Github → Sheets.</p>
          <p class="commando"><strong>docker-compose up -d qrconnect_[taiga/github/sheets]_[pes/asw/amep]</strong>.</p>
          <p>2. To check if containers are running properly, inspect their logs. (Wait until shows -----exit polling)</p>
          <p class="commando"><strong>docker logs -f [container id]</strong>.</p>
          <p>3.Strat the qreval container </p>
          <p class="commando"><strong>docker-compose up -d qreval</strong>.</p>

        </div>
      <div class="button-container">
        <button type="button" class="btn btn-success" id="button" onclick="openConfiguration();">
          Next
        </button>
      </div>
        <div id="numero-container"></div>

    </div>




</body>
</html>