<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/bootstrap.min.css">
    <script  src="../Controllers/FinalConfiguration.js"></script>
</head>
<body onload="metrics();">
<div class = "container">

    <input type="hidden" id="patata">
    <div class="progress">
        <div id="bar" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="button-container">
        <button type="button" class="btn btn-success" id="button">
            <a href="Users.html">Continuar</a>
        </button>
    </div>
</div>


</body>
</html>