<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>
    <link rel="stylesheet" href="../../public/bootstrap.min.css">
    <script src="../Controllers/InitDadesProject.js" defer></script>
    <script src="../Controllers/InitDadesStudent.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/InitDadesProject.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg my-custom-navbar" data-bs-theme="dark" id="">
        <div class="container-fluid" id="navbar">
            <button onclick="getBAck()" class="btn custom-button" >
                <i class="bi bi-arrow-left"></i>
            </button>
            <a class="navbar-brand" href="#">Add Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <form class="p-4">
        <div class="form-group mb-3">
            <input type="text" id="name" class="form-control" placeholder="Project name">
        </div>
        <select class="form-select mb-3" id="subject">
            <option value="asw">asw</option>
            <option value="amep">amep</option>
        </select>
        <div class="form-group mb-3">
            <input type="url" id="github_url" class="form-control" placeholder="URL Github">
            <div id="invalid-feedback-div-git" class="invalid-feedback-git" style="display: none;">Admin user not present in organization</div>
        </div>
        <div class="form-group mb-3">
            <input type="url" id="url_taiga" class="form-control"  placeholder="URL Taiga" aria-describedby="button-addon2">
            <div id="invalid-feedback-div" class="invalid-feedback" style="display: none;">Taiga Project is private</div>
        </div>
        <div class="form-group mb-3">
            <input type="url" id="url_sheets" class="form-control" placeholder="URL Sheets">
        </div>

        <button id="save-project" type="button"  class="btn custom-button">
            <span id="inside_button">Save Project</span>
        </button>
    </form>

    <div>
        <form action="">
            <table>
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Github username</th>
                    <th scope="col">Taiga username</th>
                    <th scope="col">Sheets username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input type="text" id="name_Student" class="form-control">
                    </th>
                    <th>
                        <input type="text" id="github_username" class="form-control">
                    </th>
                    <th>
                        <input type="text" id="taiga_username" class="form-control">
                    </th>
                    <th>
                        <input type="text" id="sheets_username" class="form-control">
                    </th>
                </tr>
                </tbody>
            </table>
            <button id="afegir_student" type="button" onclick="add();" class="btn btn-primary">Add Student</button>
            <div>
                <table id="output" class="table table-hover">
                    <thead><td>Name</td><td>Github username</td><td>Taiga username</td><td>Sheets username</td></thead>
                    <tbody id="taula_body"></tbody>
                </table>
            </div>

        </form>
    </div>
</body>
</html>