<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>frontend</title>
    <script src="../Controllers/InitDadesProject.js"></script>
    <script  src="../Controllers/ListProject.js"></script>
    <link rel="stylesheet" href="../../public/bootstrap.min.css">
    <link rel="stylesheet" href="css/ListProject.css">
    <style>
        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
    </style>
</head>
<body onload=" getSubjects();" >
    <nav class="navbar navbar-expand-lg my-custom-navbar" data-bs-theme="dark" id="">
        <div class="container-fluid" id="navbar">
            <a class="navbar-brand" href="#">Configuration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div>
        <select id="select_subject"></select>
        <label for="formFile" class="form-label mt-4">Import Projects</label>
        <input class="form-control" type="file" id="formFile" accept=".xlsx">
        <button id="import_projects" type="button" class="btn btn-primary" onclick="import_p()">AA</button>
    </div>

    <h1>Teams</h1>
    <button id="openNewPageButton" type="button"  class="btn btn-primary">
        <a href="InitDadesProject.html">Add team</a>
    </button>
    <div>
        <table id="table_proj" class="table table-hover">
            <thead><td>Select</td><td>Name</td><td>Subject</td></thead>
            <tbody id="taula_body"></tbody>
        </table>
    </div>
    <button type="button" class="btn btn-success" onclick="configurateProject()">Configurar</button>
</body>
</html>